<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mthrunn xD</title>
</head>
<body>

    <header>
        <div id="title">
            <figure>
                <img src="" alt="">
            </figure>

            <h1>My logo</h1>
        </div>

        <div id="search">
            <div>
                searchhere
            </div>
        </div>
       <nav>
           <ul>
               <li>Life Hacks</li>
               <li>Saving Money</li>
               <li>Making & Doing</li>
               <li>Home & Garden</li>
               <li>Health & Wellbeing</li>
           </ul>
       </nav>
    </header>


    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>


    <footer>
        &copy; Copy Right Mthrunn 2017
    </footer>

</body>
</html>