<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mthrunn xD</title>
</head>
<body>

    <header>
        <div id="title">
            <figure>
                <img src="" alt="">
            </figure>

            <h1>My logo</h1>
        </div>

        <div id="search">
            <div>
                searchhere
            </div>
        </div>
       <nav>
           <ul>
               <li>Life Hacks</li>
               <li>Saving Money</li>
               <li>Making & Doing</li>
               <li>Home & Garden</li>
               <li>Health & Wellbeing</li>
           </ul>
       </nav>
    </header>


    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">title: {{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}


    <footer>
        &copy; Copy Right Mthrunn 2017
    </footer>

</body>
</html>